.header {
  max-width: 700px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px 20px;
  background: #415A77;
  color: #E0E1DD;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}