.container {
  padding: 10px;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  width: 100px;
  margin: 0 10px;
  color: #E0E1DD;
  text-transform: capitalize;
  background-color: #415A77;
  cursor: pointer;
}

.button:hover {
  background-color: #354960;
}
